a:hover {
color: purple whitespace; 
}

body {
	background-image:url("https://giphy.com/gifs/bruce-lee-XtcfqdBrHEa4g"); 
	background-color: red;
	font-style: italic;
	text-decoration-color: 
}
h1 {
	color: red;
	background-size: blue;
	font-family: serif;
}
img {
	padding: 8px;
	border: solid 2px green;
	background-color: black;
	 {
.me {	 	
float:left;
 }
 input[type=submit] { 
 	color:blue;

 }